html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Graphik", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  margin: 0px;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

/* TEXT OPTIONS */

.main-title {
  font-size: 7.2rem;
  line-height: 8rem;
}

.pre-title {
  color: #2dbd9d;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.3rem;
  padding-bottom: 0.8rem;
}

.sub-title {
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3rem;
  margin-top: 1.6rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-top: 2rem;
}

.disclaimer {
  opacity: 0.6;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6rem;
  margin-top: 1.6rem;
}

.no-margin-top {
  margin-top: 0;
}

/* MAIN BANNER */

#main-banner {
  min-height: 66rem;
  background-image: url("../images/header_background.jpg");
  background-position: right bottom;
  background-size: cover;
  color: white;
}

.main-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 8rem;
  text-align: center;
}

.main-banner-container button {
  height: 5.6rem;
  min-width: 13.6rem;
  padding: 0 3.2rem;
  margin-top: 2.6rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  text-align: center;
  color: #040505;
  background: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
}

.main-banner-container button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

nav {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.nav-container {
  margin: 0 4rem;
  height: 8rem;
  display: flex;
  justify-content: flex-end;
}

nav a {
  padding: 3rem 2rem;
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  margin-top: 2.5rem;
}

.logo img {
  width: 27rem;
}

#bundle {
  padding: 25px 40px;
  background: linear-gradient(
    318.68deg,
    #0f495c 0%,
    #0d3640 49.72%,
    #08141f 100%
  );
}

.bundle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
}

.bundle-logos {
  margin-right: 3rem;
  width: 25%;
}

.bundle-logos img {
  max-width: 35.5rem;
}

.bundle-content {
  width: 60%;
}

.bundle-content .pre-title {
  margin-top: 0rem;
}

.bundle-content .message {
  font-size: 2.4rem;
  margin-top: 0.5rem;
}

.bundle-content .details {
  margin-top: 0.5rem;
}

.bundle-content .details a {
  color: #fff;
  font-size: 1.4rem;
  opacity: 0.7;
  text-decoration: underline;
}

.bundle-button {
  width: 15%;
  padding-top: 2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bundle-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bundle-button button {
  color: #ffffff;
  background: transparent;
  border: 0.2rem solid #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0;
  height: 5.6rem;
  min-width: 13.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: 600;
}

.bundle-button p {
  width: 100%;
  margin-top: 0;
}

.bundle-button a {
  color: #fff;
  opacity: 0.7;
  font-size: 1rem;
  text-decoration: underline;
}

/* CATEGORIES */

#categories {
  background-color: black;
  color: white;
}

.categories-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}

.categories-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.categories-content .pre-title {
  font-size: 1.4rem;
  margin-top: 0;
}

.categories-content .main-title {
  color: #fcfcfc;
  margin-top: 0;
  font-weight: 800;
  margin-bottom: 1.6rem;
}

.categories-content .sub-title {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.4rem;
  max-width: 792px;
}

.categories-content .cards {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

.categories-content .card {
  position: relative;
  margin-right: 2rem;
}

.categories-content .card:last-child {
  margin-right: 0;
}

.categories-content .card img {
  width: 29.5rem;
}

.categories-content .card .category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.5rem;
  text-align: left;
}

.categories-content .card .category .pre-title {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 0;
  margin-bottom: 1rem;
  color: white;
}

.categories-content .card .category .main-title {
  font-size: 2.4rem;
  line-height: 1.6rem;
  font-weight: bold;
}

.categories-content .disclaimer-wrapper {
  width: 100%;
}

.categories-content .disclaimer {
  opacity: 1;
  text-align: left;
  margin-top: 1rem;
}

/* PLANS TABLE */

.plans-container {
  max-width: 1240px;
  margin: 0 auto;
}

.plan-header {
  display: flex;
  flex-direction: row;
  padding-top: 0;
}

.select-your-plan-head {
  padding: 3rem 3rem 3rem 0;
  border-bottom: 1px solid #edeff2;
  text-align: left;
  width: 40%;
}

.plan-head {
  padding: 3.2rem 0.8rem 0.8rem 0.8rem;
  border-bottom: 1px solid #edeff2;
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.plan-head-title {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 3.1rem;
  padding: 0.8rem 0;
  margin-bottom: 0.4rem;
  margin-top: 0;
}

.plan-head-sub-title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.3rem;
  padding-bottom: 0.4rem;
  margin-top: 0;
  color: #888;
}

.plan-head button {
  height: 4.8rem;
  padding: 0 2.8rem;
  text-align: center;
  border-radius: 0.4rem;
  color: white;
  background: #040505;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  width: 100%;
  margin-top: 1.6rem;
  max-width: 34rem;
}

.plan-head button:hover {
  background-color: rgba(39, 44, 53, 0.9);
}

.plan-head .most-popular {
  font-size: 1.1rem;
  padding: 0.7rem 1.8rem 0.5rem;
  border-radius: 1.5rem;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.42px;
  line-height: 1.5rem;
  background-color: #67728a;
  margin-top: 0;
}

.plan-feature {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  border-bottom: 1px solid #edeff2;
}

.plan-feature-description {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: left;
  padding: 2rem 0;
  min-width: 0;
  line-height: 2.4rem;
  width: 40%;
  margin-top: 0;
}
.plan-feature-description a {
  margin-left: 0.6rem;
}

.plan-feature-check {
  text-align: center;
  padding: 2rem 0;
  min-width: 0;
  line-height: 2.4rem;
  width: 20%;
  font-size: 1.8rem;
}

.plan-feature-check.not-offered {
  font-size: 1.8rem;
  font-weight: bold;
  color: #b8becc;
}
